.navbar {
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 1rem;
    }
  
    .navbar-image {
      height: 50px;
    }
  
    .links-wrapper {
      display: none;
    }
  
    @media (min-width: 768px) {
      .links-wrapper {
        display: block;
      }
  
      .sidebar {
        display: none;
      }
    }
  }
  