/* Carousel.css */
.carousel {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
    overflow: hidden;
    // border-radius: 15px;
    // box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    // background: #fff;
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
  }
  
  .carousel-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 2;
    font-size: 18px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  .thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .thumbnail {
    width: 80px;
    height: 45px;
    object-fit: cover;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: 8px;
    border: 2px solid transparent;
  }

  .thumbnail.active {
    opacity: 1;
    transform: scale(1.1);
    border-color: #000;
  }
  
  .thumbnail:hover {
    opacity: 1;
  }
  